// Dashboard Section
.dashboard-section {
    transform: translateZ(5px);
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    margin-left: 140px;
    margin-top: 90px;
    width: calc(100% - 140px);
    transition: all 0.8s;
    &.body-collapse {
        width: calc(100% - 270px);
        margin-left: 270px;
        padding-left: 30px;
    }
    .nav {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #3f2c6f;
        button {
            color: var(--para-color);
            text-transform: capitalize;
            border-bottom: 3px solid transparent;
            margin-right: 40px;
            padding: 0;
            padding-bottom: 10px;
            &.active,
            &:hover {
                color: var(--para-alt-color);
                border-color: var(--para-alt-color);
            }
        }
    }
    .tab-content {
        .nav {
            border-radius: 30px;
            background-color: #201048;
            border: 1px solid #311e62;
            padding: 10px;
            gap: 15px;
            display: inline-flex;
            button {
                border: 2px solid transparent;
                padding: 10px 35px;
                margin: 0;
                border-radius: 30px;
                background-color: #591db4;
                color: var(--para-color);
                &.active,
                &:hover {
                    background-color: #078d07;
                    border-color: #068c06;
                }
            }
        }
    }
    .single-box {
        border-radius: 20px;
        box-shadow: 0px 8px 3.5px rgba(32, 16, 72, 0.61);
        background-color: #3a2372;
        padding: 30px 35px;
        border: 1px solid transparent;
        &.active {
            border-color: #477b09;
        }
        .content-area {
            h4 {
                margin: 30px 0 5px;
            }
        }
    }
    .add {
        display: flex;
        height: 100%;
        cursor: pointer;
        .single-box {
            border: 1px dashed #7257b5;
            display: flex;
            text-align: center;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            width: 100%;
            img {
                margin-bottom: 20px;
            }
        }
    }
    .deposit-box {
        .deposit-currency {
            border-radius: 30px;
            background-color: #201048;
            border: 1px solid #311e62;
            padding: 30px;
            .balance-area {
                border-radius: 10px;
                background-color: #3a2372;
                display: flex;
                justify-content: space-between;
                gap: 30px;
                padding: 20px;
                width: 100%;
            }
            .single-area {
                width: 100%;
                p {
                    margin-bottom: 10px;
                }
                h6 {
                    border-radius: 10px;
                    background-color: #4c2f90;
                    padding: 12px 35px;
                    display: inline-block;
                }
            }
            .first-deposit-bonus {
                a {
                    color: #a1ff00;
                }
                .deposit-bonus-content {
                    border-radius: 5px;
                    background-color: #201048;
                    border: 1px dashed #f0ad4e;
                    padding: 20px;
                    h5,
                    p {
                        color: #f0ad4e;
                    }
                    .mdr {
                        color: var(--para-color);
                        margin-top: 10px;
                    }
                    .item-single {
                        width: 100%;
                    }
                }
            }
            .payment-processor {
                .single-box {
                    border-radius: 15px;
                    background-color: var(--bs-white);
                    border: 2px solid transparent;
                    transition: all 0.3s;
                    width: 120px;
                    height: 60px;
                    margin-right: 20px;
                    margin-bottom: 20px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:hover,
                    &.active {
                        border-color: #477b09;
                    }
                }
            }
        }
        .deposit-amount {
            p {
                margin: 15px 0 25px;
                span {
                    margin-left: 20px;
                }
            }
            ul {
                display: flex;
                flex-wrap: wrap;
                gap: 15px;
                h5 {
                    border-radius: 10px;
                    background-color: #402a75;
                    margin: 0;
                    padding: 15px 50px;
                    border: 1px solid transparent;
                    cursor: pointer;
                    &:hover,
                    &.active {
                        box-shadow: 0px 8px 3.5px rgba(32, 16, 72, 0.61);
                        background-color: #603eaf;
                        border-color: #477b09;
                    }
                }
            }
        }
        form {
            .single-input {
                margin-bottom: 30px;
            }
            label {
                margin-bottom: 5px;
            }
            .cmn-btn {
                border-radius: 10px;
            }
        }
    }
    .transaction-box {
        border-radius: 10px;
        background-color: #201048;
        padding: 40px 30px 10px;
        .top-filter {
            gap: 20px;
            justify-content: space-between;
        }
        .single-filter {
            width: 100%;
            align-items: flex-end;
            p {
                margin-bottom: 5px;
            }
        }
        .nice-select {
            background-color: #251351;
            border: 1px solid #3e2973;
        }
        .table {
            thead {
                tr {
                    background-color: #3a2372;
                    padding: 20px 30px;
                }
            }
            tr {
                border-bottom: 1px solid #432f7a;
                background-color: #1d1041;
                th {
                    padding: 15px 30px;
                    &:first-child {
                        width: 20%;
                    }
                }
                td {
                    text-align: center;
                }
            }
            th {
                color: var(--bs-white);
                text-align: center;
                &:first-child {
                    text-align: start;
                }
            }
            tbody {
                border-bottom: 1px solid #1d1041;
            }
        }
        &.bonuses {
            .table {
                tr {
                    vertical-align: middle;
                    th {
                        &:first-child {
                            width: 25%;
                        }
                    }
                }
            }
        }
    }
    .single-input-box {
        border-radius: 15px;
        background-color: #1d1041;
        margin-bottom: 30px;
        .head-area {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 30px;
            border-bottom: 1px solid #5e5e87;
            margin-bottom: 20px;
        }
        .row {
            margin: 0 20px;
        }
        .single-input {
            margin-bottom: 25px;
        }
        &:last-child {
            .head-area {
                border: none;
            }
        }
    }
    .verification {
        border-radius: 15px;
        background-color: #1d1041;
        margin-bottom: 30px;
        padding: 30px;
        label{
            cursor: pointer;
        }
    }
}

// Chat Section
.chat-area {
    background: #201048;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    aside {
        position: relative;
        background-color: #3a2372;
        .close-btn{
            position: absolute;
            right: 10px;
            top: 5px;
            cursor: pointer;
            i{
                color: var(--bs-white);
            }
        }
        header {
            padding: 30px 20px;
            display: flex; 
            align-items: center;
        }
        ul {
            padding-left: 0;
            margin: 0;
            list-style-type: none;
            overflow-y: scroll;
            height: 690px;
            padding-bottom: 30px;
        }
        li {
            padding: 10px 0;
            cursor: pointer;
            &:hover {
                background-color: #261551;
            }
            img {
                border-radius: 50%;
                margin-left: 20px;
                margin-right: 8px;
                width: 60px;
                height: 60px;
            }
            div {
                display: inline-block;
                vertical-align: top;
                margin-top: 12px;
            }
            p {
                color: #7e818a;
            }
        }
    }
    .main {
        flex: 1;
        display: inline-block;
        font-size: 15px;
        vertical-align: top;
        header {
            padding: 15px 20px 15px 30px;
            display: flex;
            align-items: center;
            gap: 15px;
            img:first-child {
                border-radius: 50%;
                width: 80px;
                height: 80px;
            }
            img:last-child {
                width: 24px;
                margin-top: 8px;
            }
            span {
                color: #7e818a;
            }
        }
        footer {
            padding: 20px 10px 10px 20px;
            textarea {
                min-height: auto;
            }
            img {
                height: 30px;
                cursor: pointer;
            }
            a {
                margin-bottom: 30px;
            }
        }
    }
    .status {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 7px;
    }
    .green {
        background-color: #078d07;
    }
    .orange {
        background-color: #ff725d;
    }
    .blue {
        background-color: #6fbced;
        margin-right: 0;
        margin-left: 7px;
    }
    #chat {
        padding-left: 0;
        margin: 0;
        list-style-type: none;
        overflow-y: scroll;
        height: 535px;
        border-top: 2px solid #2c1b57;
        border-bottom: 2px solid #2c1b57;
        li {
            padding: 10px 30px;
        }
        span {
            color: #bbb;
        }
        .entete {
            display: flex;
            gap: 15px;
        }
        .message {
            padding: 10px;
            max-width: 90%;
            display: inline-block;
            text-align: left;
            border-radius: 5px;
        }
        .me {
            text-align: end;
            .entete{
                justify-content: flex-end;
            }
        }
        .you .message {
            background-color: #078d07;
        }
        .me .message {
            background-color: #3a2372;
        }
        .you .triangle {
            border-color: transparent transparent #078d07 transparent;
            margin-left: 15px;
        }
        .triangle {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 10px 10px 10px;
        }
        .me .triangle {
            border-color: transparent transparent #3a2372 transparent;
            margin-left: auto;
        }
    }
}