@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
	--body-font: "Poppins", sans-serif;
	--body-color: #140836;
	--primary-color: rgb(161, 255, 0);
	--secondary-color: rgb(76, 41, 126);
	--secondary-alt-color: rgb(66, 45, 122);
	--para-color: rgba(255, 255, 255, 0.8);
	--para-alt-color: rgb(239, 199, 0);
	--section-color: rgb(27, 12, 67);
}

.collapsing {
	transition: 0.3s;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--body-font);
	background-color: var(--body-color);
	font-size: 18px;
	line-height: 30px;
	padding: 0;
	margin: 0;
	font-weight: 400;
	overflow-x: hidden;
}

section,
footer {
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
}

h1,
h1 > a,
h2,
h2 > a,
h3,
h3 > a,
h4,
h4 > a,
h5,
h5 > a,
h6,
h6 > a {
	font-family: var(--body-font);
	color: var(--bs-white);
	font-weight: 600;
	text-transform: capitalize;
	transition: all 0.3s;
	span{
		font-size: inherit;
		color: inherit;
		line-height: inherit;
		font-weight: inherit;
	}
}

h1 > a:hover,
h2 > a:hover,
h3 > a:hover,
h4 > a:hover,
h5 > a:hover,
h6 > a:hover {
	color: var(--bs-white);
}

a,
a:focus,
a:hover {
	text-decoration: none;
	outline: none;
	color: var(--bs-white);
}

img {
	max-width: 100%;
	height: auto;
}

.max-un {
	max-width: unset;
}

.d-rtl {
	direction: rtl;
}

ul,
ol {
	padding: 0;
	margin: 0;
	list-style: none;
}

button {
	border: none;
	cursor: pointer;
}

.single-input{
	margin-bottom: 30px;
}

input,
textarea {
	padding: 13px 20px;
	color: var(--bs-white);
	width: 100%;
	font-family: var(--body-font);
	border: 1px solid rgb(105, 76, 185);
	color: var(--para-color);
	border-radius: 15px;
	background-color: rgba(95, 55, 152, 0.2);
	outline-color: transparent;
	&::placeholder {
		color: rgba(255, 255, 2555, 0.5);
		opacity: 1;
	}
	&:focus{
		outline: none;
		box-shadow: none;
		border: 1px solid var(--primary-color);
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

input[type="checkbox"] {
	width: initial;
	height: initial;
}

select {
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	outline: none;
}

textarea {
	min-height: 150px;
	resize: none;
}

span {
	display: inline-block;
}

.table thead th,
.table td,
.table th {
	border: none;
}

.b-none {
	border: none !important;
}

.ovf-unset {
	overflow-x: unset !important;
}

iframe {
	border: 0;
	width: 100%;
}

.shadow-none {
	-webkit-box-shadow: none;
	box-shadow: none;
}

h1,
h1 > a {
	font-size: 76px;
	line-height: 98.8px;
	margin-top: -20px;
}

h2,
h2 > a {
	font-size: 57px;
	line-height: 74.1px;
	margin-top: -16px;
}

h3,
h3 > a {
	font-size: 43px;
	line-height: 55.9px;
	margin-top: -10px;
}

h4,
h4 > a {
	font-size: 32px;
	line-height: 41.6px;
	margin-top: -8px;
}

h5,
h5 > a {
	font-size: 24px;
	line-height: 31.2px;
	margin-top: -6px;
}

h6,
h6 > a {
	font-size: 18px;
	line-height: 23.4px;
	margin-top: -4px;
}

table thead tr th {
	font-size: 18px;
	line-height: 30px;
}

a {
	display: inline-block;
	color: var(--bs-white);
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
}

p,
span,
li,
label {
	margin: 0;
	font-family: var(--body-font);
	font-size: 18px;
	font-weight: 400;
	color: var(--para-color);
	line-height: 30px;
}

.section-text {
	margin-bottom: 35px;
}

.section-header {
	margin-bottom: 55px;
}

.dark-sec{
	.sub-title {
		color: var(--secondary-color);
	}
	.title, p {
		color: var(--bs-white);
	}
}
.cus-mar{
	margin-bottom: -30px;
}

.single-box{
	margin-bottom: 30px;
	padding: 30px 15px;
}

.sub-title {
	color: var(--primary-color);
	font-weight: 500;
	margin-bottom: 27px;
}

.title {
	font-weight: 700;
	margin-bottom: 10px;
}

.xxxlr {
	font-size: 32px;
	line-height: 41.6px;
	margin-top: -8px;
}
.xxlr {
	font-size: 26px;
	line-height: 36px;
	margin-top: -7px;
}
.xlr {
	font-size: 24px;
	line-height: 36px;
	margin-top: -7px;
}
.mdr {
	font-size: 16px;
	line-height: 22px;
}

.z-1 {
	z-index: 1;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mt-30 {
	margin-top: 30px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mt-40 {
	margin-top: 40px;
}

.mb-60 {
	margin-bottom: 60px;
}

.mt-60 {
	margin-top: 60px;
}

.mb-80 {
	margin-bottom: 80px;
}

.mt-80 {
	margin-top: 80px;
}

.pt-120 {
	padding-top: 120px;
}

@media (max-width: 991px) {
	.pt-120 {
		padding-top: 60px;
	}
	.mb-60 {
		margin-bottom: 40px;
	}
	.mt-60 {
		margin-top: 40px;
	}
	.mb-80 {
		margin-bottom: 60px;
	}
	.mt-80 {
		margin-top: 60px;
	}
	.header-section {
		box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
	}
}

@media (max-width: 575px) {
	.pt-120 {
		padding-top: 50px;
	}
}

.pb-120 {
	padding-bottom: 120px;
}

@media (max-width: 991px) {
	.pb-120 {
		padding-bottom: 60px;
	}
}

@media (max-width: 575px) {
	.pb-120 {
		padding-bottom: 50px;
	}
}

*::-webkit-scrollbar-track {
	background: #00003e;
}

*::-webkit-scrollbar {
	width: 6px;
}

*::-webkit-scrollbar-button,
*::-webkit-scrollbar-thumb {
	background-color: #5732c6;
}

.scrollToTop {
	position: fixed;
	bottom: 0;
	right: 30px;
	width: 45px;
	height: 45px;
	background-color: var(--primary-color);
	border-radius: 5px;
	color: var(--bs-white);
	line-height: 45px;
	font-size: 20px;
	text-align: center;
	z-index: 9;
	cursor: pointer;
	transition: all 1s;
	transform: translateY(100%);
	i{
		color: var(--para-alt-color);
	}
	&.active {
		bottom: 30px;
		transform: translateY(0%);
	}
}

.preloader {
	position: fixed;
	width: 100%;
	height: 100vh;
	z-index: 99999999;
	overflow: visible;
	background: url(../images/preloader.gif) no-repeat center center;
	background-size: 20%;
	background-color: #000;
}

.icon-svg {
	position: relative;
	img {
		opacity: 1;
		position: absolute;
	}
	svg {
		position: absolute;
		stroke-dashoffset: 1500;
		stroke-dasharray: 1500;
		transform: scale(1);
		transition: transform 0.3s, fill 0.5s;
		opacity: 0;
		visibility: hidden;
	}
	&:hover {
		svg {
			visibility: visible;
			opacity: 1;
			stroke-dashoffset: 0;
			fill: transparent;
			transition: transform 0.3s, fill 0.5s, stroke-dashoffset 6s;
		}
		img {
			opacity: 0;
			visibility: hidden;
		}
	}
}

.accordion-button:focus {
	box-shadow: none;
}

.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
}
@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes item {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

.fadeInDown {
	animation-name: fadeInDown;
}

/* cmn btn */
.cmn-btn {
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 27px;
    transition: all 0.5s;
    padding: 15px 35px;
	background-image: url(../images/btn-bg.png);
	background-size: 100% 112%;
	background-repeat: no-repeat;
	display: inline-flex;
	align-items: center;
	justify-content: center;
    color: var(--para-alt-color);
	img, i{
		margin-left: 10px;
		font-size: inherit;
		color: var(--para-alt-color);
	}
	&:hover{
		color: var(--para-alt-color);
	}
	&:focus{
		color: var(--para-alt-color);
	}
	&.alt{
		background: transparent;
		border: 1px solid var(--secondary-color);
		color: var(--bs-white);
		i{
			color: var(--bs-white);
		}
		&:hover{
			background: var(--secondary-color);
			border: 1px solid transparent;
			color: var(--para-color);
			i{
				color: var(--para-white);
			}
		}
	}
}

// Nice Select
.nice-select {
	background-color: rgb(65, 34, 109);
	border: 1px solid transparent;
	float: initial;
	padding: 13px 20px;
	display: flex;
	align-items: center;
	line-height: initial;
	height: 100%;
	width: 100%;
	&:focus, &:hover {
		border-color: transparent;
	}
	&::after {
		height: 9px;
		width: 9px;
		right: 20px;
		top: initial;
	}
	.list {
		width: 100%;
		background-color: rgb(76, 41, 126);
		border: 1px solid rgba(255, 255, 255, 0.1);
		box-shadow: 0;
		margin-bottom: 4px;
		padding: 0;
	}
	.current {
		color: var(--para-color);
		font-weight: 500;
	}
	.option {
		background-color: transparent;
		&:hover,
		&:focus,
		&.selected.focus {
			color: var(--primary-color);
			background-color: transparent;
		}
	}
}
.thumb-select{
	.current{
		position: relative;
		display: flex;
		align-items: center;
		padding-left: 30px;
		&::before {
			content: "";
			position: absolute;
			background-image: url(../images/icon/btc-icon.png);
			background-size: auto;
			background-repeat: no-repeat;
			width: 18px;
			height: 18px;
			z-index: 1;
			left: 0;
		}
	}
}

// Slick Arrow Dot
.slick-arrow {
	position: absolute;
	outline: none;
	bottom: -70px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
    border: 1px solid rgb(121, 121, 168);
    background-color: rgba(49, 20, 104, 0);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	i {
		color: var(--bs-white);
		font-size: 14px;
	}
	&:hover {
		border-color: var(--bs-white);
		transition: all 0.5s;
	}
	&.slick-prev {
		left: calc(50% - 100px);
		z-index: 2;
	}
	&.slick-next {
		right: calc(50% - 100px);
	}
}
.section-dots {
	text-align: center;
	position: absolute;
	bottom: -62px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	li {
		margin: 0 5px;
		display: inline-block;
		list-style: none;
		.dot {
			display: block;
			width: 14px;
			height: 14px;
			border-radius: 10px;
			background: transparent;
			border: 1px solid rgba(156, 167, 255, 0.4);
			text-decoration: none;
			cursor: pointer;
			transition: all ease 0.3s;
			.string {
				position: absolute;
				line-height: 0;
				opacity: 0;
			}
		}
		&.slick-active {
			.dot {
				background-color: var(--secondary-color);
				border-color: var(--secondary-color);
			}
		}
	}
}

// Input Area
.input-area {
	border-radius: 5px;
	background-color: var(--bs-white);
	padding: 0 5px;
	margin: 30px 0 20px;
	&:focus-within{
		outline: 1px solid var(--primary-color);
		border: none;
	}
	input {
		color: var(--para-color);
		padding: 10px;
		border: none;
		background: transparent;
	}
	button {
		padding: 4px 10px;
		background-color: transparent;
	}
}

// Radio Style
.single-radio {
	display: block;
	position: relative;
    cursor: pointer;
    user-select: none;
    display: grid;
    align-items: center;
    margin-bottom: 10px;
    padding: 16px 40px;
	&:hover input ~ .checkmark {
		background-color: transparent;
	}
	.checkmark {
		position: absolute;
		left: 0;
		width: 28px;
		height: 28px;
		background-color: transparent;
		border: 1px solid var(--bs-white);
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		&::after {
			content: "";
			position: absolute;
			border-radius: 50%;
			width: 16px;
			height: 16px;
			background-color: transparent;
		}
	}
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
	}
	input:checked ~ .checkmark {
		background-color: transparent;
		border: 1px solid rgb(240, 173, 78);
		&::after {
			display: block;
			background-color: rgb(240, 173, 78);
		}
	}
}

// Checkbox
.checkbox-single {
	position: relative;
	padding-left: 35px;
	margin-bottom: 15px;
	cursor: pointer;
	user-select: none;
	&:last-child {
		border-bottom: none;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.content-area {
		display: flex;
	}
	.checkbox-area {
		align-items: center;
		input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
			height: 0;
			width: 0;
		}
		.checkmark {
			position: absolute;
			left: 0;
			top: 3px;
			height: 24px;
			width: 24px;
			border-radius: 5px;
			background-color: rgb(102, 53, 168);
			&::after {
				content: "";
				position: absolute;
				display: none;
			}
		}
	}
	.checkmark {
		display: flex;
		align-items: center;
		justify-content: center;
		&::after {
			width: 14px;
			height: 12px;
			background-image: url(../images/icon/check.png);
			background-repeat: no-repeat;
		}
	}
	input:checked ~ .checkmark {
		border-color: transparent;
	}
	input:checked ~ .checkmark:after {
		display: block;
	}
	u{
		text-decoration: underline;
		a{
			text-decoration: inherit;
			color: inherit;
		}
	}
}

// Animation
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes ripple2Ani {
	0% {
		transform: translate(0px, 0px);
	}
	33% {
		transform: translate(-5px, -5px);
	}
	66% {
		transform: translate(5px, 5px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}
@keyframes stretch {
	0% {
		transform: scale(0.9);
	}
	50% {
		transform: scale(0.7);
	}
	100% {
		transform: scale(1);
	}
	90% {
		transform: scale(0.8);
	}
	50% {
		transform: scale(0.7);
	}
	0% {
		transform: scale(0.9);
	}
}
@keyframes rippleAni {
	0% {
		transform: translate(0px, 0px);
	}
	33% {
		transform: translate(5px, -5px);
	}
	66% {
		transform: translate(-5px, 5px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}